* {
    margin: 0;
    padding: 0;
}

header {
    background: white;
    box-shadow: 0px 2px 10px #333;
}

.sigla {
    display: inline;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: #777777;
    margin-left: 10px;
}

header span {
    font-family: 'Ropa Sans';
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #AAAAAA;
}

.banner {
    background-image: url("../images/Rectangle 3.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

.hamburguer-menu {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    display: none;
}

footer {
    background: #333333;
    ;
}

.map {
    height: 163px;
    width: 252px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rodape-info {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
    color: #FFFFFF;
}

.texto {
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #888888;
}

.contatos {
    display: inline;
}


@media(min-width: 481px) {
    .hamburguer-menu {
        display: none;
    }

    .navbar {
        display: block;
    }
}